html {

    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globlales*/



.Contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
    min-width: 15rem;
    text-align: center;
}

/*Utlidades*/

.Seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Fw-300 {
    font-weight: 300;
}

.Centrar-texto {
    text-align: center;
}

.d-block {
    display: block !important;
}

/*Botones*/

.Boton {
    color: rgb(255, 255, 255);
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    margin-top: 1rem;
    margin: 0.4rem;
    text-align: center;
    font-weight: 600;
    background-color: #030303;
}

.Boton:hover{
    color: rgb(251, 255, 0);
}

.Boton-mod{
margin: 55rem;
font-size: 1.8rem;
}

.Boton-mod:hover{
    font-weight: 750;
}

.Boton-lista{
    font-weight: 600;
    margin: -0.0rem;
}

/*Cabera del sitio*/

.Login{
    height: 4rem;
}

.icono {
    float: right;
    height: 3rem;
}

.icono_footer {
    height: 3rem;
}

.logo {
    display: flex;
    height: 15rem;
    justify-content: center;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.Contenido-header {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.Barra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/*Menú desplegable*/

.hero{
    width: 100%;
    min-height: 3rem;
    background: #eceaff;
    color: #525252;
}

.nav-d{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.user-pic{
    height: 3.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 600px;
}

.sub-menu{
    background: #fff ;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 240px;
}

.user-info h5{
    font-weight: 500;
}

.user-info img{
    width: 4rem;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link:hover p{
    font-weight: 600;
}

/*Navegacion*/

.Navegacion a {

    color: rgb(255, 255, 253);
    font-size: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    text-align: center;

}

.Navegacion-footer a {

    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Navegacion a:hover {
    color: rgb(251, 255, 0);
    font-weight: 600;
}

/*Barra de búsqueda*/

.search input[type=text]{
    max-width:0;
    max-height:25px;
    border-radius:25px;
    border: 1px;
    margin-right: 0.5rem;
    position: absolute;
    right: 20%;
    background-color: #ffffff;
    border: none;
    overflow: hidden;
    transition: max-width 0.5s,visibility 0.5s;
    visibility: hidden;
}

.search.search.search-open{
    max-width:140px;
    max-height:25px;
    background-color: white;
    transition: max-width 0.5s;
    visibility: initial;
}

.search{
    float:right;
    height: 2.8rem;
}

.search button{
    background-color: #000000;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/*Tablas*/

.tabla-lista {
    width: 95%;
    text-align: center;
 }

 .tabla-titulo {
    width: 40rem;
    text-align: left;
    line-height: 2.2rem;
    padding: 1rem;
 }

 .tabla-seccion {
    width: 14rem;
 }

 .tabla-fecha {
    width: 18rem;
 }

 .tabla-opciones {
    border-collapse: collapse;
    border: none;
 }

/*Noticias*/

.Contenedor-body {
    display: flex;
    justify-content: space-between;
}

.Contenedor-anuncios {
    display: flex;
    flex-wrap: wrap;
}

.Contenedor-noticias {
    display: flex;
    flex-wrap: wrap;
}

.Noticia {
    margin-right: 1rem;
    margin-top: 1rem;
    width: 25rem;
}

figure{
    margin: 0;
    height: 20rem;
    width: 25rem;
    border-radius: 2px;
    overflow: hidden;
    transition: all 500ms ease;
}

.imagen-noticia{
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}

.imagen-noticia:hover{
    transform: scale(1.1);
}

.Titulo-noticia {

}

.Titulo-noticia a{
    text-decoration: none;
    color: #030303;
    
}

.Titulo-noticia a:hover{
    color: rgb(105, 104, 104);    
}

.Titulo-noticia h1{
    margin-block-start: 0.5rem;
    line-height: 1.4;
    font-size: medium;
    text-transform: uppercase;
}

/*Footer*/

.Site-footer{
    background-color: #333333;
    margin: 0;
}

.Contenedor-footer{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    
}

.redes{
    display: flex;
    margin:  1rem 1rem;
    justify-content: center;
}

.a{
    margin: 1rem;
}

.icono_footer{
    transition: all 500ms ease;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}

.icono_footer:hover{
    transform: scale(1.1);
}

.Copyright{
    margin: 0;
    color: white;
}